body {
    margin: 0;
    padding: 0;
}

.week {
    width: 100vw;
    height: 20vh;
}

.dayHeader {
    width: 100vw;
    height: 10vh;
}

.dayName {
    display: inline-block;
    width: 14.28%;
    text-align: center;
}

.day {
    display: inline-block;
    border: 1px solid black;
    background-color: lightgray;
    width: 14.28%;
    height: 100%;
}

.weekday {
    display: inline-block;
    border: 1px solid black;
}


